.app-container {
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.items-container {
  display: flex;
  flex-direction: column;
}

.item-container {
  display: flex;
  justify-content: space-between;
}

.item-form {
  margin: 12px 0;
}

.item-form input {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1875em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  outline: none;
}

@media (min-width: 0px) {
  .app-container {
    max-width: 444px;
  }
}

@media (min-width: 600px) {
  .app-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
